{
  "lab_dir": "C:\\Users\\your-user\\Virtual Machines\\ScenarioForge-Lab",
  "vmware_dir": "",
  "management_vmnet": "vmnet1",
  "hitl_vmnet": "vmnet2",
  "desktop_shortcut": true,
  "wait_minutes": 90,
  "no_wait": false,
  "core_memory_mb": 8192,
  "app_memory_mb": 4096,
  "participant_memory_mb": 2048,
  "core_cores": 4,
  "app_cores": 2,
  "participant_cores": 2,
  "core_disk_gb": 80,
  "app_disk_gb": 40,
  "ssh_public_key": "",
  "core_password": "",
  "app_password": "",
  "participant_password": "",
  "web_admin_password": "",
  "core_minimal_ref": "main",
  "core_ref": "master",
  "scenarioforge_ref": "main",
  "flag_generators": true,
  "vulnhub": true,
  "flag_generators_ref": "5f612eecb8ff5df74a0e517d0de1e54385a62044",
  "python_exe": "",
  "qemu_img": "",
  "git_exe": "",
  "participant_os": "debian",
  "manage_hitl_network": true,

  "cyber_agent_flow": false,
  "cyber_agent_flow_url": "https://github.com/raistlinJ/cyber-agent-flow.git",
  "cyber_agent_flow_ref": "main",
  "llm_provider_address": "",
  "llm_provider_url": "",
  "llm_provider_type": "ollama_direct",
  "llm_model": "",
  "llm_vmnet": "vmnet8"
}
